.container-fluid{
    background-color: black;
}

.container{
    background-color: #00a000;
}

#cardContainer{
    position: relative;
    border: solid 3px rgb(255, 255, 255);
    border-radius: 10px;
    height: 600px;
    width: 700px;
}
.cardImage{
    position: absolute;
    left: 10px;
    top: 10px;
}